commands:
  
  00_setup_nodesource:
    command: "curl -L https://rpm.nodesource.com/setup_current.x | sudo bash -"

  01_install_node:
    command: "yum install -y nodejs"

  02_npm_install:
    command: "pwd && npm install"
    cwd: "/var/app/current/client"

  03_npm_build:
    command: "pwd && npm run build"
    cwd: "/var/app/current/client"