packages:
  yum:
    nodejs: []

container_commands:
  01_install_node:
    command: "curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash - && sudo yum install -y nodejs"

  02_npm_install:
    command: "npm install"
    cwd: "/var/app/current/client"
  
  03_npm_build:
    command: "npm run build"
    cwd: "/var/app/current/client"