.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.bull-image {
  width: 40vw;
  height: 40vh;
  border: 1px solid #e6e6e6 !important;
  margin: 2rem;
  margin-top: 5rem;
}

.sim-span {
  color: #08b8fd;
}

.stocks-span {
  color: #04013f;
  font-weight: bolder;
}

.home-paragraph {
  text-align: justify;
  color: rgb(141, 140, 140);
}

.text-span {
  color: #08b8fd;
  font-weight: bold;
  cursor: pointer;
}

.text-span:hover {
  color: #04013f;
}

.link-span {
  display: inline;
  margin: 0;
  padding: 0;
  color: #08b8fd;
  text-decoration: none;
}

.login-button {
  background-image: linear-gradient(45deg, #04013f, #0a1d6e);
  color: white !important;
  border: 1px solid #04013f !important;
  transition: background-color 0.3s ease;
}