.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 60%;
    margin: 0 auto;
}

.login-box {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.login-header {
    padding: 1rem;
    text-align: center;
    color: #04013f !important;
}

.button-container {
    padding: 1rem;
}

.login-button {
    background-image: linear-gradient(45deg, #04013f, #0a1d6e);
    color: white !important;
    border: 1px solid #04013f !important;
    transition: background-color 0.3s ease;
}

.login-button:hover {
  background-image: linear-gradient(45deg, #0a1d6e, #2c5aa8);
  border-color: #2c5aa8 !important; 
  cursor: pointer; 
}

.signup-box {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #0b0a1e, #1c2c70);
    color: white;
}

.new-account-text {
    padding: 1rem;
    text-align: center;
    color: #08b8fd !important;
}
