.holdings-table-header {
  background-color: #04013f !important;
  color: white;
  border: 1px solid #e6e6e6 !important;
}

.holding-name {
  font-weight: bold;
}

.green {
  color: green
}

.red {
  color: red
}

.timestamp {
  font-size: 0.8rem;
  color: grey;
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}