.holdings-table-header {
  background-color: #04013f !important;
  color: white;
  border: 1px solid #e6e6e6 !important;
  cursor: arrow !important;
}

.table-head {
  cursor: arrow !important;
}

.holding-name {
  font-weight: bold;
}

.green {
  color: green
}

.red {
  color: red
}

.empty-portfolio {
  cursor: default;
}

.empty-portfolio:hover {
  background-color: #e6e6e6;
}

.trade-span {
  color: #08b8fd;
  font-weight: bold;
}

.timestamp {
  font-size: 0.8rem;
  color: grey;
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}