.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 70vw;
  margin-top: 5vh;
}

.searchbar {
  margin: 0 auto;
  background-color: #e6e6e6;
  width: 45vw;
}

.search-btn {
  background-color: #08b8fd;
  border: 1px solid #08b8fd;
}

.search-btn:hover {
  background-color: #1578ba;
  border: 1px solid #1578ba;
}

.search-note {
  color: #525659;
  font-size: 0.9rem;
  font-style: italic;
}