.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.searchbar {
    margin: 0 auto;
    background-color: #e6e6e6;
    width: 30vw;
    color: white;
}