.trade-form-container {
    border: 1px solid lightslategray;
    padding: 1rem;
    background-color: rgb(252, 251, 251);
}

.trade-title {
    font-weight: bold;
    color: #08b8fd
}

.trade-table {
    background-color:rgb(252, 251, 251) !important;
}

.shares-identifier {
    vertical-align: bottom;
    margin-bottom: 0;
}
