.trade-form-container {
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding: 1rem;
    background-color: #04013f;
    color: white;
}

.trade-title {
    font-weight: bold;
    color: #08b8fd
}

.trade-table {
    background-color:#04013f !important;
    color: white !important;
}

.shares-identifier {
    vertical-align: bottom;
    margin-bottom: 0;
}

.insufficient-funds {
    background-color: darkred !important;
    color: white !important;
    border: darkred !important;
}